body {
    background-color: #252525 !important;
}

.pager > li > a {
    color: white !important;
    //when bootstrap.min.css is 'dark', remember to set this to black
    //when bootstrap.min.css is 'slate', remember to set this to white
}

.navbar-nav > li > a {
    border-left: 0px !important;
    border-right: 0px !important;
}

.nav-header {
    font-size: 24px !important;
    text-transform: none !important;
}

.override-no-text-transform {
    text-transform: none !important;
}

.container {
    margin-top: 100px;
    width: 80%;
}

.navbar-custom.is-fixed {
    top: -100px !important;
}

.navbar {
    min-height: 100px !important;
}

.navbar-nav{
    float: inherit !important;
}

.navbar-header {
    padding: 20px !important;
}

.search-box {
    padding: 12.5px 30px 10px 20px;
}

.search-box input {
    border-radius: 4px 0px 0px 4px !important;
}

.search-box span {
    border-radius: 0px 4px 4px 0px !important;
    padding: 11px !important;
    width: 50px !important;
}

.search-box span a {
    color: white !important;
}

.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-custom .nav li a {
    font-size: 16px;
}

.navbar-brand {
    padding: 0px !important;
    margin-left: 0px !important;
    font-size: 24px !important;
    height: 100%;
}

.btn-right {
    float: right;
}

.pager .prev {
    float: left;
}

.pager .next {
    float: right;
}

.loginPage {
    margin-top: 15%;
    margin-bottom: 10%;
}

.my-footer {
    margin-top: 0px;
}

.override-font-weight-normal {
    font-weight: normal;
}

.my-href {
    color: #ddd;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    cursor: hand;
    text-decoration: none !important;
}

.mark-button {
    color: #ddd;
    cursor: pointer;
    cursor: hand;
}

.message-unread {
    background-color: #3e444c !important;
}

.message-read {
    background-color: #272c30 !important;
}

.my-panel-footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px 15px;
}

.my-href:hover {
    color: #0085a1;
}

.my-href:focus {
    color: #0085a1;
}

.mark-button:hover {
    color: #0085a1;
}

.mark-button:focus {
    color: #0085a1;
}

.override-font-weight-bold {
    font-weight: bold;
}

.override-no-padding {
    padding: 0px !important;
}

.override-no-margin-top {
    margin-top: 0px !important;
}

.tag-margin {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.my-font-color {
    color: #adadad !important;
}

.pointer-cursor {
    cursor: pointer;
    cursor: hand;
    text-decoration: none !important;
}

#doComment:target {
    padding-top: 50%;
}

.message-meta {
    color: gray;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
}

.message-passage {
    font-size: 18px;
}

.my-blockquote {
    font-style: italic;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    font-size: 17.5px;
    margin: 20px 0 -5px 20px;
    padding: 0px 10px;
}

.comments:target {
    background-color: #3e444c;
}

.modal-content {
    color: #adadad !important;
}


.modal.msg-popup .modal-body {
    color: #ffffff !important;
    background-color: #3e444c !important;
}

.dropdown-menu > li > a {
    padding: 10px !important;
    /*font-size: 12px !important;*/
    /*font-weight: normal !important;*/
}

#keywordAdd {
    display: inline;
    width: 150px;
}

@font-face {
    font-family: "iconfont-zhihu";
    src: url('../fonts/iconfont-zhihu.eot'); /* IE9*/
    src: url('../fonts/iconfont-zhihu.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/iconfont-zhihu.woff') format('woff'),
         url('../fonts/iconfont-zhihu.ttf') format('truetype'),
         url('../fonts/iconfont-zhihu.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.table > tbody > tr > td > a {
    color: #fff !important;
}

.table > tbody > tr > td > a:hover,
.table > tbody > tr > td > a:focus {
    color: #0085a1 !important;
}

.table > tbody > tr > td,
.table > thead > tr > th {
    text-align: center !important;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal !important;
}

pre {
    color: #adadad;
}

pre code {
    padding: inherit;
}

input[type="search"] {
    width: 200px !important;
}

.login-sign {
    padding-top: 15px;
    padding-right: 30px;
}

.about-href {
    color: #adadad;
    cursor: pointer;
    cursor: hand;
}

.about-href:hover {
    color: #0085a1;
}

.about-href:focus {
    color: #0085a1;
}

.iconfont-zhihu {
    font-family: "iconfont-zhihu" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-zhihu:before {
    content: "\e6bd";
}

