body {
    background-color: #252525 !important;
}

.container {
    margin-top:100px;
}

.navbar-custom.is-fixed {
    top: -100px !important;
}

.navbar {
    min-height: 100px !important;
}

.navbar-header {
    float:right !important;
}

.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-custom .nav li a {
    font-size: 16px !important;
}

.navbar-brand {
    font-size: 24px !important;
}

.navbar-custom .navbar-brand {
    padding: 20px 30px 20px 20px !important;
}

.btn-right {
    float: right;
}

.pager .prev {
    float:left;
}

.pager .next {
    float:right;
}

.loginPage {
    margin-top: 15%;
    margin-bottom: 10%;
}

.my-footer {
    margin-top:0px;
}


@font-face {
    font-family: "iconfont-zhihu";
    src: url('../fonts/iconfont-zhihu.eot'); /* IE9*/
    src: url('../fonts/iconfont-zhihu.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont-zhihu.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont-zhihu.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont-zhihu.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont-zhihu {
    font-family:"iconfont-zhihu" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-zhihu:before { content: "\e6bd"; }

