@(comments: List[Comment])(implicit session: play.api.mvc.Session)


<div class="container override-no-margin-top my-font-color">
        <!-- Comments Form -->
    <div class="row">
        <h4>Leave a Comment:</h4>
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    @for(c <- comments) {
        <div class="media row">
            @*<a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>*@
            <div class="media-body">
                <h4 class="media-heading">@c.fromName
                    <small>@c.createTime.format("yyy-MM-dd HH:mm:ss")</small>
                </h4>
                @c.toName match {
                    case Some(n) => {Re @n: @c.content}
                    case None => {
                        @c.content
                    }
                }
            </div>
        </div>
    }
</div>