@(passage: Option[Passage] = None,
tags: List[Int] = Nil,
allTag: List[Tag],
keywords: List[String] = Nil,
error: String = "")(implicit session: play.api.mvc.Session)


<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>
    @passage match {
    case Some(p) => {Edit [@p.title]}
    case None => {New Passage}
    }
  </title>
</head>
<body>
@nav()
<div class="container">
  <div class="col-lg-10 col-md-10 col-md-offset-1">
    <div id="error">
      @error match {
        case e if !e.isEmpty => {
          <div class='alert alert-danger'>
            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
            <strong>@error</strong>
          </div>
        }
        case _ => {}
      }
    </div>
    <form id="passageForm" action="/manage/passage/doCreateOrUpdate" method="post">
      @passage match {
        case Some(p) => {
        <input type="text" class="hidden" id="id" name="id" value="@p.id"/>
        <input type="text" class="form-control" placeholder="Title" id="title" name="title" value="@p.title"/>
        <hr>
        <div id="keywordList" style="display : inline-block ;">
          @for((kw, index) <- keywords.zipWithIndex) {
            <span class="label label-primary">
                <input type="text" class="hidden" name="keywords[@index]" value="@kw">
                @kw
                <a href="javascript:void(0);"><i class="fa fa-times" onclick="deleteKeyword(this)"></i></a>
            </span> &nbsp;
          }
        </div>
        <input type="text" placeholder="Keyword" id="keywordAdd" class="form-control">
        <a href="javascript:addKeyword()"><i class="fa fa-plus-circle"></i></a>
        <hr>
        <div class="my-font-color">
          @for((t, index) <- allTag.zipWithIndex) {
          <input type="checkbox" name="tagIds[@index]" value="@t.id" @if(tags.contains(t.id)) {
                 checked="checked" }> @t.name
          }
        </div>
        <hr>
        @toolbar()
        <div id="content" name="content">@p.content</div>
        }
        case None => {
        <input type="text" class="hidden" id="id" name="id"/>
        <input type="text" class="form-control" placeholder="Title" id="title" name="title"/>
        <hr>
        <div id="keywordList" style="display : inline-block ;"></div>
        <input type="text" placeholder="Keyword" id="keywordAdd" class="form-control">
        <a href="javascript:addKeyword()"><i class="fa fa-plus-circle"></i></a>
        <hr>
        <div class="my-font-color">
          @for((t, index) <- allTag.zipWithIndex) {
          <input type="checkbox" name="tagIds[@index]" value="@t.id"> @t.name
          }
        </div>
        <hr>
        @toolbar()
        <div id="content" name="content"></div>
        }
      }
      <hr>
      <button id="passageFormSubmit" type="submit" class="btn btn-default btn-right">Submit</button>
    </form>
  </div>
</div>
@footer()
</body>
  <link href="/assets/css/tomorrow-night.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/editor.css" rel="stylesheet" type="text/css">
  <script src="/assets/js/bootstrap-wysiwyg.js"></script>
  <script src="/assets/js/prettify.js"></script>
  <script>
    $(function() {
      $('div#content').wysiwyg();
      prettyPrint();
      $("content").addClass("prettyprint linenums");
    })
  </script>
</html>