@(passage: Option[Passage] = None,
tags: List[Int] = Nil,
allTag: List[Tag],
keywords: List[String] = Nil,
error: String = "")(implicit session: play.api.mvc.Session, messages: Messages, lang: Lang)


<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>
    @passage match {
    case Some(p) => {@messages("manage.passage.edit", p.title)}
    case None => {@messages("manage.passage.new")}
    }
  </title>
</head>
<body>
@nav()
<div class="container">
  <div class="col-lg-10 col-md-10 col-md-offset-1">
    <div id="error">
      @error match {
        case e if !e.isEmpty => {
          <div class='alert alert-danger'>
            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
            <strong>@error</strong>
          </div>
        }
        case _ => {}
      }
    </div>
    <form id="passageForm" action="/manage/passage/doCreateOrUpdate" method="post">
      @passage match {
        case Some(p) => {
        <input type="text" class="hidden" id="id" name="id" value="@p.id"/>
        <input type="text" class="form-control" placeholder="@messages("manage.passage.title.placeholder")"
          id="title" name="title" value="@p.title"/>
        <hr>
        <div id="keywordList" style="display : inline-block ;">
          @for((kw, index) <- keywords.zipWithIndex) {
            <span class="label label-primary">
                <input type="text" class="hidden" name="keywords[@index]" value="@kw">
                @kw
                <a href="javascript:void(0);"><i class="fa fa-times" onclick="deleteKeyword(this)"></i></a>
            </span> &nbsp;
          }
        </div>
        <input type="text" placeholder='@messages("manage.passage.keyword.placeholder")' id="keywordAdd" class="form-control">
        <a href="javascript:addKeyword()"><i class="fa fa-plus-circle"></i></a>
        <hr>
        <div class="my-font-color">
          @for((t, index) <- allTag.zipWithIndex) {
          <input type="checkbox" name="tagIds[@index]" value="@t.id" @if(tags.contains(t.id)) {
                 checked="checked" }> @t.name
          }
        </div>
        <hr>
        @toolbar()
        <div id="content" name="content">@Html(p.content)</div>
        }
        case None => {
        <input type="text" class="hidden" id="id" name="id"/>
        <input type="text" class="form-control" placeholder="@messages("manage.passage.title.placeholder")" id="title" name="title"/>
        <hr>
        <div id="keywordList" style="display : inline-block ;"></div>
        <input type="text" placeholder='@messages("manage.passage.keyword.placeholder")' id="keywordAdd" class="form-control">
        <a href="javascript:addKeyword()"><i class="fa fa-plus-circle"></i></a>
        <hr>
        <div class="my-font-color">
          @for((t, index) <- allTag.zipWithIndex) {
          <input type="checkbox" name="tagIds[@index]" value="@t.id"> @t.name
          }
        </div>
        <hr>
        @toolbar()
        <div id="content" name="content"></div>
        }
      }
      <hr>
      <div id="fileUploadProgress"></div>
      <hr>
      <button id="passageFormSubmit" type="submit" class="btn btn-default btn-right">@messages("button.submit")</button>
    </form>
  </div>
</div>
@footer()
</body>
  <link href="/assets/css/editor.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/tomorrow-night.css" rel="stylesheet" type="text/css">
  <script src="/assets/js/jquery.hotkeys.js"></script>
  <script src="/assets/js/bootstrap-wysiwyg.js"></script>
  <script src="/assets/js/prettify.js"></script>
  <!-- here import language modules -->
  <script src="/assets/js/lang-sql.js"></script>
  <script src="/assets/js/lang-scala.js"></script>
  <!-- here import image upload modules -->
  <script src="/assets/js/qiniu.min.js"></script>
  <script src="/assets/js/plupload.full.min.js"></script>
  <script src="/assets/js/upload.js"></script>
<script>
    $(function() {
      $(window).on("beforeunload", function(e) {
        e.preventDefault();
        return "Passage not reserved.";
      });

      $('#content').wysiwyg({
        hotKeys: {
          'ctrl+b meta+b': 'bold',
          'ctrl+i meta+i': 'italic',
          'ctrl+u meta+u': 'underline',
          'ctrl+z meta+z': 'undo',
          'ctrl+y meta+y meta+shift+z': 'redo'
        },
        fileUploadError: function (reason, detail) {
          $.messager.alert("File upload error due to: " + reason + ", details: " + detail);
        }
      });
      prettyPrint();
      $("pre").addClass("prettyprint linenums");
    });

    var uploader = Qiniu.uploader({
      runtimes: 'html5,html4',
      browse_button: 'pickfiles',
      uptoken_url: '/manage/getUploadToken',
      //downtoken_url: '/downtoken',
      domain: 'http://7xoixh.com1.z0.glb.clouddn.com/',
      max_file_size: '10MB',
      max_retries: 3,
      dragdrop: true,
      drop_element: 'container',
      chunk_size: '4MB',
      auto_start: true,
      init: {
        'FilesAdded': function(up, files) {
          plupload.each(files, function(file) {
            showUploadProgress(file);
          });
        },
        'UploadProgress': function(up, file) {
          updateProgress(file.id, file.percent);
        },
        'FileUploaded': function(up, file, info) {
          updateProgress(file.id, file.percent);
          var res = $.parseJSON(info);
          var sourceLink = Qiniu.domain + res.name;
          addImage(sourceLink);
        },
        'Error': function(up, err, errTip) {
          $.messager.popup(up+": "+err+": "+errTip);
        }
    }
});
  </script>
</html>