@import models.Passage
@(passages:List[(Passage,String)], currentPage:Int, totalPage:Int)(implicit session: play.api.mvc.Session)

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Index</title>

</head>

<body>
@nav()
<!-- Main Content -->
<div class="container" style="width:80%;">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      @for((p, u) <- passages) {
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              @p.title
            </h2>

            <h3 class="post-subtitle">
              @p.content
            </h3>
          </a>

          <p class="post-meta">Posted by <a href="#">@u</a> at @p.createTime.format("yyy-MM-dd HH:mm:ss")</p>
        </div>
        <hr>
      }
      <!-- Pager -->
      <ul class="pager">
        @if(currentPage >= 2) {
          <li class="prev">
            <a href="/index?page=@(currentPage-1)">&larr; Newer Posts</a>
          </li>
        }
        @if(currentPage < totalPage) {
          <li class="next">
            <a href="/index?page=@(currentPage+1)">Older Posts &rarr;</a>
          </li>
        }
      </ul>
    </div>
  </div>
</div>
<hr>

<!-- Footer -->
@footer()

</body>

</html>