@import models.Passage
@(passagesWithTags: List[(Passage, List[Tag])], currentPage: Int, totalPage: Int)(implicit session: play.api.mvc.Session)

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Leo">

  <title>Index</title>

</head>

<body>
@nav()
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-md-offset-1">
      @for((p,ts) <- passagesWithTags) {
        <div class="post-preview">
          <a href="/passage?id=@p.id">
            <h2 class="post-title">
              @p.title
            </h2>
            <h4 class="post-subtitle">
              @p.content
            </h4>
          </a>
          <p class="tag-margin">
            @for(t <- ts) {
              <span class="label label-default">@t.name</span>
            }
          </p>
          <p class="post-meta">Posted by <a href="#">@p.authorName</a> at @p.createTime.format("yyy-MM-dd HH:mm:ss")</p>
        </div>
        <hr>
      }
      @pager(currentPage, totalPage)
    </div>
  </div>
</div>
<hr>
@footer()
</body>
</html>