@(callback: Option[String] = None, error:Option[String] = None)(implicit session: play.api.mvc.Session, messages: Messages)

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>@messages("login")</title>
</head>
<body>

@nav()
<div class="container loginPage">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <form name="loginForm" id="loginForm" action="/doLogin" method="post" onsubmit="return doLogin();">
        <input class="hidden" name="callback" id="callback" value='@callback.getOrElse("")'/>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>@messages("login.name")</label>
            <input type="text" class="form-control my-font-color" placeholder="@messages("login.name")" id="name"
                   name="name" required data-validation-required-message="Please enter your name.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>@messages("login.password")</label>
            <input type="password" class="form-control my-font-color" placeholder="@messages("login.password")" id="password"
                   name="password" required data-validation-required-message="Please enter your password.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        @error match {
          case Some(e) => {
            <div id="error">
              <div class='alert alert-danger'>
                <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                <strong>@e</strong>
              </div>
            </div>
          }
          case None => {
            <div id="error"></div>
          }
        }
        <div class="row">
          <div class="form-group col-xs-12">
            <button id="loginFormSubmit" type="submit" class="btn btn-default btn-right pull-right">@messages("button.login")</button>
            <a href="/loginWithSina"><i class="fa fa-weibo fa-1x fa-inverse login-sign pull-right my-href"></i></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
@footer()
</body>
</html>