@(users:Seq[(User,Role)], currentPage: Int, totalPage: Int)(implicit session: play.api.mvc.Session, messages: Messages, lang: Lang)

<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
  @nav()
  <div class="container">
    <div class="col-lg-10 col-md-10 col-md-offset-1">
      <button type="button" class="btn btn-primary" onclick="pop_createUser()">@messages("button.new")</button>
      <hr>
      <div id="error"></div>
      <table class="table table-hover my-font-color">
        <thead>
          <tr>
            <th>@messages("manage.table.delete")</th>
            <th>@messages("manage.user.table.name")</th>
            <th>@messages("manage.user.table.mail")</th>
            <th>@messages("manage.user.table.role")</th>
            <th>@messages("manage.user.table.website")</th>
            <th>@messages("manage.user.table.lastLoginIp")</th>
            <th>@messages("manage.user.table.lastLoginTime")</th>
            <th>@messages("manage.user.table.lastLogoutTime")</th>
          </tr>
        </thead>
        <tbody>
        @for((u, r) <- users) {
          <tr id="@u.id">
            <td><a href="javascript:remove('@u.id','/manage/user/delete')"><i class="fa fa-trash-o"></i></a></td>
            <td>@u.userName</td>
            <td>@u.mail</td>
            <td>@r.roleType</td>
            <td>@r.webSite</td>
            <td>@u.lastLoginIp</td>
            <td>@u.lastLoginTime match {
                case Some(d) => {@d.format("yyy-MM-dd HH:mm:ss")}
                case None => {}
            }</td>
            <td>@u.lastLogoutTime match {
                case Some(d) => {@d.format("yyy-MM-dd HH:mm:ss")}
                case None => {}
            }</td>
          </tr>
        }
        </tbody>
      </table>
      @pager("/manage/user/", currentPage, totalPage)
    </div>
  </div>
  <div id="userwrap" style="display:none;">
      <form id="userForm" role="form" type="post">
          <input type="text" class="form-control my-font-color" placeholder="@messages("manage.user.username.placeholder")"
            id="userName" name="userName">
          <hr>
          <input type="password" class="form-control my-font-color" placeholder="manage.user.password.placeholder"
            id="password" name="password">
          <hr>
          <input type="text" class="form-control my-font-color" placeholder="manage.user.mail.placeholder" id="mail" name="mail">
      </form>
  </div>
  @footer()
  </body>
</html>