@(passages:Seq[Passage], currentPage: Int, totalPage: Int)(implicit session: play.api.mvc.Session, messages: Messages, lang: Lang)

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
@nav()
<div class="container">
    <div class="col-lg-10 col-md-10 col-md-offset-1">
        <a type="button" class="btn btn-primary" href="/manage/passage/create">@messages("button.new")</a>
        <hr>
        <div id="error"></div>
        <table class="table table-hover my-font-color">
            <thead>
                <tr>
                    <th>@messages("manage.table.edit")</th>
                    <th>@messages("manage.table.delete")</th>
                    <th>@messages("manage.table.id")</th>
                    <th>@messages("manage.passage.table.author")</th>
                    <th>@messages("manage.passage.table.title")</th>
                    <th>@messages("manage.passage.table.content")</th>
                    <th>@messages("manage.passage.table.createTime")</th>
                    <th>@messages("manage.passage.table.view")</th>
                </tr>
            </thead>
            <tbody>
            @for(p <- passages) {
                <tr id="@p.id">
                    <td><a href="/manage/passage/update?id=@p.id"><i class="fa fa-pencil-square-o"></i></a></td>
                    <td><a href="javascript:remove('@p.id','/manage/passage/delete')"><i class="fa fa-trash-o"></i></a></td>
                    <td>@p.id</td>
                    <td>@p.authorName</td>
                    <td>@p.title</td>
                    <td>@Application.getContent(p.content, 30)</td>
                    <td>@p.createTime.format("yyy-MM-dd HH:mm:ss")</td>
                    <td>@p.viewCount</td>
                </tr>
            }
            </tbody>
        </table>
        @pager("/manage/passage", currentPage, totalPage)
    </div>
</div>
@footer()
</body>
</html>