@(tags:Seq[(Tag, Int)], currentPage: Int, totalPage: Int)(implicit session: play.api.mvc.Session)

<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
  @nav()
  <div class="container">
    <div class="col-lg-10 col-md-10 col-md-offset-1">
      <button type="button" class="btn btn-primary" onclick="pop_createTag()">NEW</button>
      <hr>
      <div id="error"></div>
      <table class="table table-hover my-font-color">
        <thead>
          <tr>
            <th>Edit</th>
            <th>Delete</th>
            <th>name</th>
            <th>description</th>
            <th>passageCount</th>
          </tr>
        </thead>
        <tbody>
        @for((t, count) <- tags) {
          <tr id="@t.id">
            <td><a href="javascript:pop_updateTag('@t.id', '@t.name','@t.description')"><i class="fa fa-pencil-square-o"></i></a></td>
            <td><a href="javascript:remove('@t.id','/manage/tag/delete')"><i class="fa fa-trash-o"></i></a></td>
            <td>@t.name</td>
            <td>@t.description</td>
            <td>@count</td>
          </tr>
        }
        </tbody>
      </table>
      @pager("/manage/tag", currentPage, totalPage)
    </div>
  </div>
  <div id="tagwrap" style="display:none;">
    <form id="tagForm" role="form" type="post">
      <input type="text" class="hidden" id="id" name="id">
      <input type="text" class="form-control my-font-color" placeholder="Name" id="name" name="name">
      <hr>
      <input type="text" class="form-control my-font-color" placeholder="Description" id="description" name="description">
    </form>
  </div>
  @footer()
  </body>
</html>