@(inMessage: List[(Comment, String)], currentPage: Int, totalPage: Int)(implicit session: play.api.mvc.Session)

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Leo">
</head>
<body>
@nav()
    <div class="container">
        <div class="col-lg-10 col-md-10 col-md-offset-1">
            @for((c, s) <- inMessage) {
                @c.fromName: @c.content
                <div class="panel panel-default">
                    <div class="panel-body">
                      @s
                    </div>
                </div>
            }
            <hr class="row">
            @pager("/message", currentPage, totalPage)
        </div>
    </div>
@footer()
</body>
</html>