@import models.CommentStatus
@(inMessage: List[(Comment, String)], currentPage: Int, totalPage: Int, error:String = "")(implicit session: play.api.mvc.Session)

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Notification</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Leo">
</head>
<body>
@nav()
<div class="container">
  <div class="col-lg-10 col-md-10 col-md-offset-1">
    <div id="error"></div>
    @for((c, s) <- inMessage) {
    <div class="panel panel-default my-font-color
        @if(c.status.equals(CommentStatus.unread)) {
            override-font-weight-bold message-unread
        } else {
            override-font-weight-normal message-read
        }
    ">
      <div class="panel-body">
        <div class="message-meta">
          @if(c.status.equals(CommentStatus.unread)) {
          <i class="fa fa-eye-slash pull-right mark-button" title="mark as read" onclick="markAs('read', '@c.id')"></i>
          } else {
          <i class="fa fa-eye pull-right mark-button" title="mark as unread" onclick="markAs('unread', '@c.id')"></i>
          }
          @@@c.fromName @if(!c.toId.isEmpty) { replied to} else { commented on}:
          <a class="my-href message-passage" href="/logged/viewComment?passageId=@c.passageId&commentId=@c.id">@s</a>
        </div>
        <div class="my-blockquote">
          <a class="my-href" href="/logged/viewComment?passageId=@c.passageId&commentId=@c.id">@c.content</a>
        </div>
      </div>
      <div class="my-panel-footer">
        <div class="message-meta">Sent at @c.createTime.format("yyy-MM-dd HH:mm:ss")</div>
      </div>
    </div>
    <hr class="row">
    }
    @pager("/logged/message", currentPage, totalPage)
  </div>
</div>
@footer()
</body>
</html>