@import play.api.Play.current
@import play.api.cache._
@import models.User
@import models.Role
@import models.RoleType
@()(implicit session: play.api.mvc.Session, messages: Messages, lang: Lang)
@sitecount()
<link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("img/favicon.ico")">
<link href="/assets/css/bootstrap-slate.min.css" rel="stylesheet">
<link href="/assets/css/common.css" rel="stylesheet">
<link href="/assets/css/clean-blog.min.css" rel="stylesheet">
<link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/common.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.bootstrap.min.js"></script>
<script src="/assets/js/clean-blog.js"></script>
<script>
function search() {
  var query = $("#search").val();
  if ($.trim(query) == "") {
    $.messager.alert('@messages("nav.search.alert.empty")')
    return false;
  }
  if ($.trim(query).length > 64) {
    $.messager.alert('@messages("nav.search.alert.toolong")')
    return false;
  }
  window.location.href = "/index?query=" + query;
}

$(function () {
  var isClear = true;

  function markAllAsRead() {
    $.ajax({
      url: '/logged/markAll',
      type: "post",
      success: function (result) {
        if (result.isSuccess == true) {
          $('#unreadDrag').text(0);
          return;
        } else {
          $.messager.popup(result.detail);
        }
      },
      error: function (msg) {
        $.messager.popup("Internal Error");
      }
    });
  }

  //$('#unreadDrag').parent().attr("draggable", "false");
  $('#unreadDrag').parent().parent().on({
    dragover: function (e) {
      e.preventDefault();
    },
    drop: function (e) {
      e.preventDefault();
      isClear = false
    }
  });
  $('#unreadDrag').on({
    dragstart: function (e) {
      isClear = true;
      e.originalEvent.dataTransfer.effectAllowed = "move"
      e.originalEvent.dataTransfer.dropEffect = "none"
      //prevent chrome from open a new tab, firefox need this, but it sucks
      //e.originalEvent.dataTransfer.setData('text/plain', 'Any');
    },
    dragend: function (e) {
      var title = "@messages("nav.messages.clean.popup.title")";
      var content = "@messages("nav.messages.clean.popup.content")";
      e.preventDefault();
      if (isClear) {
        $.messager.confirm(title, content, function () {
          markAllAsRead();
        })
      }
    }
  });
});
</script>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/index">@messages("nav.home")</a>
        </li>
        @Cache.getAs[(User, Role)]((session.get("loginUser")).getOrElse("")) match {
          case Some((u, r)) => {
            <li>
              <a href="/logged/message">@messages("nav.notification")&nbsp;
                <span id="unreadDrag" class="badge" draggable="true">
                  @Cache.getOrElse(u.userName+"-unreadMessage")("0")
                </span>
              </a>
            </li>
            @if(r.roleType.equals(RoleType.OWNER)) {
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                @messages("nav.manage")&nbsp;<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/manage/passage">@messages("nav.manage.passage")</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/manage/tag">@messages("nav.manage.tag")</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/manage/user">@messages("nav.manage.user")</a></li>
              </ul>
            </li>
            }
          }
          case None => {}
        }
        <li>
          <a href="/about">@messages("nav.about")</a>
        </li>
        <li class="pull-right">
          @Cache.getAs[(User, Role)]((session.get("loginUser")).getOrElse("")) match {
            case Some((u, r)) => {
              <a class="dropdown-toggle nav-header" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                @u.userName&nbsp;<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/logged/profile" class="override-no-text-transform">
                  &nbsp;<i class="fa fa-cog">&nbsp;&nbsp;@messages("nav.logged.profile")</i></a>
                </li>
                <li><a href="/logout" class="override-no-text-transform">
                  &nbsp;<i class="fa fa-power-off">&nbsp;&nbsp;@messages("nav.logged.logout")</i></a>
                </li>
              </ul>
            }
            case None => {
              <a class="nav-header" href="/login">@messages("button.login")</a>
            }
          }
        </li>
        <li class="pull-right">
          <div class="input-group pull-right search-box">
            <span class="input-group-addon pull-right mark-button" onclick="search()">
              <i class="fa fa-search"></i>
            </span>
            <input id="search" type="search" class="form-control pull-right" placeholder="@messages("nav.search.placeholder")">
          </div>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>