@(error: Option[String] = None)(implicit session: play.api.mvc.Session, messages: Messages, lang: Lang)

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>@messages("resume")</title>
</head>
<body>
@nav()
<div class="container" style="margin-top: 20%;margin-bottom: 15%;">
  <div class="row">
    <div class="col-lg-8 colborder-radius-lg-offset-3 col-md-10 col-md-offset-1">
      <form name="resumeForm" id="resumeForm" action="/resume/check" method="post">

        <div class="input-group col-md-8">
          <input type="password" class="form-control my-font-color input-lg" placeholder="@messages("login.password")" id="password"
          name="password" required data-validation-required-message="Please enter password." style="border-radius:6px;">
          <p class="help-block text-danger"></p>
        </div>
        <br>
        @error match {
        case Some(e) => {
        <div id="error">
          <div class='alert alert-danger col-md-8'>
            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
            <strong>@e</strong>
          </div>
        </div>
        }
        case None => {
        <div id="error"></div>
        }
        }
      </form>
    </div>
  </div>
</div>
@footer()
</body>
</html>